* {
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #f8f755;
}
@font-face {
  font-family: "GravityPoints";
  src: url("./fonts/GravityPointsWidth.ttf");
}

@font-face {
  font-family: "GmarketSansTTFLight";
  src: url("./fonts/GmarketSansTTFLight.ttf");
}

@font-face {
  font-family: "GmarketSansTTFMedium";
  src: url("./fonts/GmarketSansTTFMedium.ttf");
}

@font-face {
  font-family: "GmarketSansTTFBold";
  src: url("./fonts/GmarketSansTTFBold.ttf");
}
