* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "GmarketSansLight";
  background-repeat: no-repeat;
  /* 드래그방지 */
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
  /* 드래그방지 */
}

/* ( 크롬, 사파리, 오페라, 엣지 ) 동작 */
*::-webkit-scrollbar {
  /*스크롤 없애기*/
  display: none;
}

html {
  /* rem: 10px로 조절 */
  font-size: 10px;
}

:root {
  /* 컬러 색상 */
  --main-color: #f8f755;
}
@font-face {
  font-family: "GravityPoints";
  src: url("./fonts/GravityPointsWidth.ttf");
}

@font-face {
  font-family: "GmarketSansLight";
  src: url("./fonts/GmarketSansTTFLight.ttf");
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("./fonts/GmarketSansTTFMedium.ttf");
}

@font-face {
  font-family: "GmarketSansBold";
  src: url("./fonts/GmarketSansTTFBold.ttf");
}

.h1-style {
  /* title 스타일 */
  font-family: GravityPoints;
  color: var(--main-color);
  font-size: 6rem;
  margin-top: 6rem;
}

.h1-border {
  /* 바깥테두리만 있는 title스타일 */
  font-family: GravityPoints;
  font-size: 6rem;
  -webkit-text-stroke-width: 0.05rem; /* 텍스트 바깥 라인*/
  -webkit-text-stroke-color: var(--main-color);
  padding-top: 30rem;
  color: transparent; /* 투명 */
}

.light {
  font-family: GmarketSansLight;
}

.medium {
  font-family: GmarketSansMedium;
}

.bold {
  font-family: GmarketSansBold;
}
