.entire-page {
  background-color: black;
  height: 120%;
  padding: 0 0 5rem 0;
}

.container-item {
  margin-top: 5.5rem;
  display: flex;
  row-gap: 4.5rem;
  column-gap: 1.2rem;
  flex-wrap: wrap;
}
